<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admission Form</title>
</head>
<body>
   
        <div id="admission-form">
        <div id="img">
            <img src="..\static\Images\college-logo.png" alt="Herald College Logo" id="clzlogo">
        </div>
        <center><h1>Admission Form For BBA and BIT</h1></center>

        </div>
        <div id="admissiondetals">
            <tr>
                <td>
                    <h1>
                    Name :                       ...................................<br><br>
                    Permanent Address :          ...................................<br><br>
                    Temporary Address :          ....................................<br><br>
                    Contact :                    .....................................<br><br>
                    Email :                      ...................................<br><br>
                    Course :                     ....................................<br><br>
                    NEB or A-level college name :......................................<br><br>
                    Pass out year :              ......................................<br><br>
                    Date Of birth :              .......................................<br><br>
                    Father Name :                .......................................<br><br>
                    Form Fill Up Date:           ....../....../............

                </h1>
                </td>
            </tr>

        </div>
    
    <style>
        #admission-form{
            height: 600px;
            width: 100%;
            float: left;
        }
        #img{
            width: 250px;
            height: 75px;
            float: left;
        }
       #clzlogo{
            width: 250px;
            height: 75px;
            float: left;
            /* padding: 10px; */
        }
        
        
        
    </style>
</body>
</html>